<!-- Подключение шаблона страницы -->
{% extends "base.html" %}
<!-- Название вкладки страницы -->
{% block title %}Рейтинг университетов{% endblock title %}
<!-- Заголовок страницы -->
{% block header %}Рейтинг университетов{% endblock header %}
<!-- Контент страницы с основной информацией -->
{% block content_center %}
<div class="row justify-content-center" style="margin-top: 80px;">
    <p class="display-3 text-center">
        Национальный рейтинг университетов от ИНТЕРФАКС
    </p>
</div>

<table class="table table-bordered border-secondary table-striped table-hover">
    <thead>
        <tr>
            <th scope="col"><small class="text-center"><strong><p>#</p></strong></small></th>
            <th style="margin: 0%; padding: 0%">
                <form action="{% url 'ratings' %}">
                    <input type="hidden" name="search" value="{{ search_query }}">
                    <button type="submit" class="btn btn{% if order != 'name' and order != '-name' %}-outline{% endif %}-btn-outline-light col-12 border-0" 
                        style="border-radius: 0px" name="order" value="{% if order == 'name' %}-name{% else %}name{% endif %}">
                        <small class="text-center"><strong><p>{{ table_header.1.verbose_name}}</p></strong></small>
                    </button>
                </form>
            </th>
            <th style="margin: 0%; padding: 0%">
                <form action="{% url 'ratings' %}">
                    <input type="hidden" name="search" value="{{ search_query }}">
                    <button type="submit" class="btn btn{% if order != '-rating_summary' and order != 'rating_summary' %}-outline{% endif %}-btn-outline-light col-12 border-0" 
                        style="border-radius: 0px" name="order" value="{% if order == '-rating_summary' %}rating_summary{% else %}-rating_summary{% endif %}">
                        <small class="text-center"><strong><p>{{ table_header.3.verbose_name}}</p></strong></small>
                    </button>
                </form>
            </th>
            <th style="margin: 0%; padding: 0%">
                <form action="{% url 'ratings' %}">
                    <input type="hidden" name="search" value="{{ search_query }}">
                    <button type="submit" class="btn btn{% if order != '-rating_education' and order != 'rating_education' %}-outline{% endif %}-btn-outline-light col-12 border-0" 
                        style="border-radius: 0px" name="order" value="{% if order == '-rating_education' %}rating_education{% else %}-rating_education{% endif %}">
                        <small class="text-center"><strong><p>{{ table_header.4.verbose_name}}</p></strong></small>
                    </button>
                </form>
            </th>
            <th style="margin: 0%; padding: 0%">
                <form action="{% url 'ratings' %}">
                    <input type="hidden" name="search" value="{{ search_query }}">
                    <button type="submit" class="btn btn{% if order != '-rating_brand' and order != 'rating_brand' %}-outline{% endif %}-btn-outline-light col-12 border-0" 
                        style="border-radius: 0px" name="order" value="{% if order == '-rating_brand' %}rating_brand{% else %}-rating_brand{% endif %}">
                        <small class="text-center"><strong><p>{{ table_header.5.verbose_name}}</p></strong></small>
                    </button>
                </form>
            </th>
            <th style="margin: 0%; padding: 0%">
                <form action="{% url 'ratings' %}">
                    <input type="hidden" name="search" value="{{ search_query }}">
                    <button type="submit" class="btn btn{% if order != '-rating_research' and order != 'rating_research' %}-outline{% endif %}-btn-outline-light col-12 border-0" 
                        style="border-radius: 0px" name="order" value="{% if order == '-rating_research' %}rating_research{% else %}-rating_research{% endif %}">
                        <small class="text-center"><strong><p>{{ table_header.6.verbose_name}}</p></strong></small>
                    </button>
                </form>
            </th>
            <th style="margin: 0%; padding: 0%">
                <form action="{% url 'ratings' %}">
                    <input type="hidden" name="search" value="{{ search_query }}">
                    <button type="submit" class="btn btn{% if order != '-rating_socialization' and order != 'rating_socialization' %}-outline{% endif %}-btn-outline-light col-12 border-0" 
                        style="border-radius: 0px" name="order" value="{% if order == '-rating_socialization' %}rating_socialization{% else %}-rating_socialization{% endif %}">
                        <small class="text-center"><strong><p>{{ table_header.7.verbose_name}}</p></strong></small>
                    </button>
                </form>
            </th>
            <th style="margin: 0%; padding: 0%">
                <form action="{% url 'ratings' %}">
                    <input type="hidden" name="search" value="{{ search_query }}">
                    <button type="submit" class="btn btn{% if order != '-rating_internationalization' and order != 'rating_internationalization' %}-outline{% endif %}-btn-outline-light col-12 border-0" 
                        style="border-radius: 0px" name="order" value="{% if order == '-rating_internationalization' %}rating_internationalization{% else %}-rating_internationalization{% endif %}">
                        <small class="text-center"><strong><p>{{ table_header.8.verbose_name}}</p></strong></small>
                    </button>
                </form>
            </th>
            <th style="margin: 0%; padding: 0%">
                <form action="{% url 'ratings' %}">
                    <input type="hidden" name="search" value="{{ search_query }}">
                    <button type="submit" class="btn btn{% if order != '-rating_innovation' and order != 'rating_innovation' %}-outline{% endif %}-btn-outline-light col-12 border-0" 
                        style="border-radius: 0px" name="order" value="{% if order == '-rating_innovation' %}rating_innovation{% else %}-rating_innovation{% endif %}">
                        <small class="text-center"><strong><p>{{ table_header.9.verbose_name}}</p></strong></small>
                    </button>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for university in rating %}
        <tr>
          <th scope="row"><small class="text-center"><p>{{forloop.counter}}</p></small></th>
          <td><small><p>{{university.name}}</p></small></td>
          <td><small class="text-center"><p>{{university.rating_summary}}</p></small></td>
          <td><small class="text-center"><p>{{university.rating_education}}</p></small></td>
          <td><small class="text-center"><p>{{university.rating_brand}}</p></small></td>
          <td><small class="text-center"><p>{{university.rating_research}}</p></small></td>
          <td><small class="text-center"><p>{{university.rating_socialization}}</p></small></td>
          <td><small class="text-center"><p>{{university.rating_internationalization}}</p></small></td>
          <td><small class="text-center"><p>{{university.rating_innovation}}</p></small></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}