<!-- Подключение шаблона страницы -->
{% extends "base.html" %}
<!-- Название вкладки страницы -->
{% block title %}{{ university.abbreviated }}{% endblock title %}
<!-- Заголовок страницы -->
{% block header %}{{ university.abbreviated }}{% endblock header %}
<!-- Контент страницы с основной информацией -->
{% block content_center %}
<div class="row justify-content-center" style="margin-top: 120px;">
  <div class="card mb-12 border-0">
    <div class="row g-0">
      <div class="col-md-3">
        {% if university.logo %}
          <img src="/static/img/logo/{{ university.logo }}" alt="{{ university.name }}" class="align-self-center mr-5" style="margin-left: 30px;" width="200" height="200">
        {% else %}
          <img src="/static/img/rocket-startup.png" alt="{{ university.name }}" class="align-self-center mr-5" style="margin-left: 30px;" width="200" height="200">
        {% endif %}
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="mt-0 text-center">{{ university.abbreviated }}</h2>
          <h3 class="text-center">{{ university.name }}</h3>
          <br>

          <svg width="300px" height="300px" viewBox="0 0 20 20" class="donut">
            <circle cx="10" cy="10" r="3.183098861837907" fill="#fff"></circle>
            <circle class="donut-ring" cx="10" cy="10" r="3.183098861837907" fill="transparent" stroke="#d2d3d4" stroke-width="3"></circle>
            <circle class="donut-segment" cx="10" cy="10" r="3.183098861837907" fill="transparent" stroke="#ce4b99" stroke-width="3" stroke-dasharray="'{% widthratio positive_opinions count_opinions 100 %}'" stroke-dashoffset="25"></circle>
            <circle class="donut-segment" cx="10" cy="10" r="3.183098861837907" fill="transparent" stroke="#b1c94e" stroke-width="3" stroke-dasharray="'{% widthratio negative_opinions count_opinions 100 %}'" stroke-dashoffset="25"></circle>
          </svg>

          <p>
            <span class="status_badge" style="color: green; font-size: 16pt;">Положительные : {{ positive_opinions }}</span>
            <span class="status_badge" style="color: red; font-size: 16pt;">Отрицательные : {{ negative_opinions }}</span>
            <span class="status_badge" style="color: black; font-size: 16pt;">Кол-во отзывов : {{ opinions|length }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col col-10 col-md-6 col-lg-4">
    <form action="" method="GET" class="d-flex">
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="submit" class="btn btn-primary">Все отзывы</button> 
        <button type="submit" name="status" value="True" class="btn btn-success">Положительные</button>
        <button type="submit" name="status" value="False" class="btn btn-danger">Отрицательные</button> 
      </div>
    </form>
  </div>
</div>
{% endblock content_center %}

{% block content_end %}
<div class="row justify-content-center">
  <div class="row row-cols-1 g-4">
    {% for opinion in page_obj %}
    <div class="col">
      {% if  opinion.status == "True" %}
        <div class="card col-12 text-black" style="background-color: #bde0d4;">
          <div class="card-header text-center">
            <h4>Положительный отзыв</h4>
            <p>Количество слов: {{ opinion.text|wordcount }}</p>
          </div>
      {% else %}
        <div class="card col-12 text-black" style="background-color:#f5bca7;">
          <div class="card-header text-center">
            <h4>Отрицательный отзыв</h4>
            <p>Количество слов: {{ opinion.text|wordcount }}</p>
          </div>
      {% endif %}
          <div class="card-body">
            <p class="card-text">{{ opinion.text }}</p>
          </div>
          <div class="card-footer bg-transparent text-center">{{ opinion.date_opinion }}</div>
        </div>
    </div>
    {% empty %}
    <div class="col col-12 g-4 title_page">
      <div class="card">
        <div class="card-body">
          <h5 class="card-text">Пока нет ни одного отзыва.</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content_end %}

{% block footer %}

<!-- Пагинация для перемещения по списку университетов -->
{% include "search_reviews\paginator.html" %}

{% endblock footer %}